
.inputContainer {
    padding: 15px; 
	display: flex; 
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   height: 50%;
   text-align: center;
}
.inputForm {	
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  top: 15px;
  width: 600px;
  display: relative;
  height: 600px;
  /* display: block; */
  margin: auto;
  /* text-align: center; */
  background: radial-gradient(900px 900px at top center,#5e5e5e,#2d3334,#262626);

}

.input {
    background-color: #eee;
	border: none;
	border-radius: 6px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 300px;
    top:75px;
    position: relative;
}

.btn {   
    border-radius: 6px;;
	font-weight: bold;
	width: 330px;
    position: relative;
    font-size: 17px;
    top: 80px;
    color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	transition: all 0.4s ease 0s;
}
.btn:hover {
    color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
}

.h2 {
    position: relative;
    bottom: -50px;
    color: white;
}

