
.inputContainer {
    padding: 30px; 
	display: flex; 
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   height: 50%;
   text-align: center;
}
.inputForm {	
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  width: 500px;
  height: 420px;
  margin:auto;
  bottom: 50px;
  right: 10px;
  text-align: center;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.input {
    background-color: #eee;
	border: none;
	border-radius: 6px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 300px;
    top:65px;
    position: relative;
}

.btn {    
	text-transform: uppercase;
	transition: all 0.4s ease 0s;
    padding: 5px;
    border-radius: 6px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 330px;
    position: relative;
    top: 75px;
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);

}

.btn:hover {
    color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
    
}

.h2 {
    position: relative;
    bottom: 50px;
}

