.container {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
          0 10px 10px rgba(0,0,0,0.22);
  position: relative;
  top: 2px;
  display: block;
 
}

.photo {
    width: 40%;
    position: relative;
    bottom: 50px;
    border-radius: 12px;
}
.h2 {
    position: relative;
    bottom: 90px;
}
.container2 {
    padding: 15px; 
	display: flex; 
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   height: 50%;
   text-align: center;
}
.btn {
    border-radius: 20px;
	border: 1px blue;
	background-color: #ffa69e;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 250px;
    position: relative;
    margin: 5px;
    bottom: 25px;
}

.btn:hover {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

