

.fitImg {
    width: 300px;
    height: 300px;
    display: block;
    margin:auto;
    margin: 15px;
    object-fit: cover;
    /* padding: 20px; */
    border-radius: 30px;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    overflow-x: scroll;
 

}

.fitImg:hover {
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(0deg) scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 10px;
    /* overflow-x: scroll;
    overflow-y:hidden;
    width: 100%;
    white-space: nowrap;
    height: 500px; */
}

.footer {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #ffffff 74%);
    
    
    
    height: 30px;   
    width: 100%;
    position: relative;
  
    box-sizing:border-box;
    border-top: 1px solid #333333;
    /* right: -10px; */
    /* top: 100px; */
    /* position: fixed; */
    bottom: -35px;
}



 /* .eventsContainer .containerphoto {
    width: 24.5%;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;

}

.containerphoto {
    text-align: center;
} */
html, body {
    margin:0px;
  }

  .cat {
    border-bottom: 1px solid #333333;
    text-align: center;
    height: 40px;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
