.containerphoto {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height: 270px;
  padding: 5px;
  margin: 10px;
}

.little {
    background-color: #262626;
}

.fitImg {
    width: 360px;
    height: 200px;
    display: block;
    position: relative;
    right: 5px;
    bottom: 5px;
    /* margin:auto; */
    /* margin: 15px; */
    object-fit: cover;
    /* padding: 20px; */
    /* border-radius: 30px; */
    /* border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333; */
    overflow-x: scroll;
}

.containerphoto:hover {
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(0deg) scale(1.02);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
    justify-content: center;
    top: 10px;
    /* overflow-x: scroll;
    overflow-y:hidden;
    width: 100%;
    white-space: nowrap;
    height: 500px; */
    /* background: radial-gradient(900px 900px at top center,#5e5e5e,#2d3334,#262626); */
}

.footer {
    background: radial-gradient(900px 900px at top center,#5e5e5e,#2d3334,#262626);
    height: 30px;   
    width: 100%;
    position: relative;
  
    box-sizing:border-box;
    border-top: 1px solid #333333;
    /* right: -10px; */
    /* top: 100px; */
    /* position: fixed; */
    bottom: -35px;
}



 /* .eventsContainer .containerphoto {
    width: 24.5%;
    float: none;
    height: 90%;
    margin: 0 0.25%;
    display: inline-block;
    zoom: 1;

}

.containerphoto {
    text-align: center;
} */
html, body {
    margin:0px;
  }

  .cat {
    /* border-bottom: 1px solid #333333; */
    text-align: center;
    height: 40px;
    top: 5px;
    position: relative;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
 
  }

  .catBtn {
    color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;

	transition: all 0.4s ease 0s;
    height: 30px;

  }

.catBtn:hover {
    color: #ffffff !important;
	background: #f6b93b;
	border-color: #f6b93b !important;
	transition: all 0.4s ease 0s;
    
}

.eventName {
    text-decoration-line: none !important;
}

