.login {
    display: block;
    float: right;
    margin-bottom: 10px;
}

.signBtn {
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 150px;
    border-radius: 15px;
    border: 1px #19a186
}

.home {
    background-color: #f9484a;
    background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 150px;
    border-radius: 15px;
    border: 1px #19a186
}
.homediv {
    display: flex;
    justify-content: space-evenly;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    top: 15px;
  }
  
  /* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 4px;
    left: auto;
  }
  
  /* Links inside the dropdown */
.dropdownContent .links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown:hover .dropdownContent {
    display: block;
  }

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }


.dropdownContent a:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.profileDropdown {
    float: right;
    width: 500px;
}
a { color: inherit; } 

.logo {
    position: relative;
    top: -30px;

}

.bar {
    border-radius: 6px;
    width: 380px;
    height: 29px;
    position: relative;
    top: 30px;
}

.searchButton {
    position:relative;
    top: 30px;
    width: 40px;
    height: 36px;
    border-radius: 6px;
    border: white
}

.searchButton:hover {
    background-color: #f9c1b1;
    background-image: linear-gradient(315deg, #f9c1b1 0%, #fb8085 74%);

}

.bar:hover {
    background-color: #e7eff9;
    background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);

}
.navBar {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    height: 110px;   
    width: 102%;
    position: relative;
    top: -10px;
    left: -10px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
}

